.section-petsList-profile{
    margin-top: 10px;
}

.ul-petsList-profile{
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
    max-width: 1050px;
    gap: 64px;
    padding: 0px 10px 0px 10px;
}

.li-petsList-profile{
    max-width: 385px;
    height: max-content;
    border: 2px solid rgba(128, 128, 128, 0.164);
    border-radius: var(--border-radius-1);
}

.figure-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    max-width: 200px;
    overflow: hidden;
}

.img-petsList{
    width: 100%;
    height: 175px;
    max-height: 100%;
    border-radius: var(--border-radius-1);
}

.box-description-petsList{
    padding: 20px;
    min-width: 100px;
    margin-left: 30px;
    gap: 10px;
}

.span-description-petsList{
    font-family: var(--font-family);
}

.span-description-petsList strong{
    color: var(--color-brand);
    font-family: var(--font-family);
}

#button-green{
    margin-left: 1rem;
}

#button-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin-top: 10px;
    cursor: pointer;
}
header{
    min-height: 2.5rem;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px #EEEEEE;
}
#headerMenu{
    width:80% ;
}
#logo{
    color: var(--color-brand);
    font-family: var(--font-family);
}
#menuIcon{
    cursor: pointer;
}
#headerBtns{
    display: none;
}
#headerBtnsMobile{
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
footer{
    color: var(--color-brand);
    font-weight: var(--font-weight-4);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    background-color: #F1EEF7;
}
@media(min-width: 720px){
    #menuIcon{
        display: none;
    }
    #headerBtns{
        display: flex;
        gap: 1rem;
    }
    #headerBtnsMobile{
        display: none;
        gap: 1rem;
    }
}