.list{
    width: 100%;
    gap: 65px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .card{
      width: 250px;
      height: 320px;
      box-shadow: 0rem 0rem .3125rem var(--box-shadow-color);
      border-radius: var(--border-radius-2);
      gap: .375rem;
  }

  .card-figure{
       width: 250px;
       height: 200px;
       overflow: hidden;
       display: flex;
       justify-content: center;
       align-items: center;
  }

  .card-img{
      height: 330px;
      border-top-left-radius: var(--border-radius-1);
      border-top-right-radius: var(--border-radius-1);
      border-bottom-left-radius: var(--border-radius-1);
      border-bottom-right-radius:var(--border-radius-1) ;
  }

  .card-title{
      color: var(--color-brand);
      font-family: var(--font-family);
      padding-left: .9375rem;
      font-size: var(--font-size-6);
      height: 40px;
      line-height: 2;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; 
      -webkit-box-orient: vertical;
  }
  .card p{
      padding-left: .9375rem;
      font-family: var(--font-family);
      font-weight: var(--font-weight-2);
      font-size: var(--font-size-9);
  }
  .btn-adopt{
      height: 1.75rem;
      display: none;
  }

  .btn-on{
    display: block;
    height: 1.75rem;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  @media(max-width: 720px){
    .list{
        width: 80%;
        gap: 55px;
        margin: 40px ;
      }
}