.list{
    width: 60%;
    gap: 1.875rem;
    margin: 4.375rem auto;
  }
  .card{
      width: 13.125rem;
      height: 18.125rem;
      box-shadow: 0rem 0rem .3125rem var(--box-shadow-color);
      border-radius: var(--border-radius-2);
      gap: .375rem;
  }
  .card-img{
      width: 100.5%;
      height: 10.9375rem;
      border-top-left-radius: var(--border-radius-1);
      border-top-right-radius: var(--border-radius-1);
      border-bottom-left-radius: var(--border-radius-1);
      border-bottom-right-radius:var(--border-radius-1) ;
  }
  .card-title{
      color: var(--color-brand);
      font-family: var(--font-family);
      padding-left: .9375rem;
      padding-top: .3125rem;
      font-size: var(--font-size-6);
  }
  .card p{
      padding-left: .9375rem;
      font-family: var(--font-family);
      font-weight: var(--font-weight-2);
      font-size: var(--font-size-9);
  }
  .btn-adopt{
      height: 1.75rem;
      display: none;
  }

  .btn-on{
    display: block;
    height: 1.75rem;
    width: fit-content;
    
    /* margin-left: 45px;
    margin-top: 8px; */
  }